#sidebar{
    position: fixed;
    width: 300px;
    left: 0;
    bottom: 0;
    height: calc(100vh - 100px);
    background-color: #efefef;
    border-right: 2px solid #4632DA;
}

#sidebar h6{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    width: 100%;
    padding: 15px 32px;
    background-color: #00000088;
    margin: 0;
    color: white;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

#sidebar h6::after{
    content: 'x';
    color: white;
    background-color: #CA0B00;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 100%;
    transform: translateX(0px);
    transition: transform .3s ease;

}

#sidebar h6.draggable{
    color: #222;
    background-color: transparent;
    cursor: move;
}

#sidebar h6.draggable::after{
    transform: translateX(100px);
}

#sidebar .sidebar-header{
    padding: 8px 32px;
    background-color: #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sidebar .sidebar-header h5{
    font-size: 16px !important;
}

#sidebar .sidebar-header small{
    font-size: 14px !important;
    margin-left: 3px;
}